body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--color-fondo);

}
#root {
  max-width: 1280px;
  padding: 0;
}

:root{
  --color-fondo: #181f29;
  --color-letraBlanco: #dddddd;
  --color-azul: #172430;
  --color-tarjetas: rgb(57, 89, 122);
}