.mouse-trail {
  position: relative;
  width: 100%;
  height: 100vh;
}

.trail-point {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #964b00; /* Color de las líneas */
  border-radius: 50%;
  pointer-events: none; /* Evita que los puntos afecten a otros elementos */
  transform: translate(-50%, -50%);
}

.trail-point::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #964b00; /* Color de las líneas */
  border-radius: 50%;
  animation: fadeOut 0.5s linear forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
