:root{
    --color-fondo: #181f29;
    --color-letraBlanco: #dddddd;
    --color-azul: #172430;
    --color-tarjetas: #39597a;
  }



.sectionInit{
    text-align: center;
    height: 70vh;
    text-align: center;

}

.inmgPerfil{
    width: 150px;
    margin-left: 1rem;
    text-align: start;
    height: 70px;
}

.menuHiperCube{
    margin-right: 1rem;
    text-align: end;
    width: 150px;
    height: 70px;
}

.inmgPerfil img{
    width: 100px;
}

.menuHiperCube img{
    width: 50px;
}


.contenedorTexto{
    display: flex;
    flex-direction: column;
    margin: 2rem;
}


.sectionInit h1, .textoMarketing{
    color: var(--color-letraBlanco);

}

.textoMarketing{
    letter-spacing: 1.5px;
}

.ruteo{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.ruteo a{
    background-color: var(--color-tarjetas);
    height: 9rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--color-letraBlanco);
    display: flex;
    align-items: center;
}


@media screen and (max-width:250px) {
    .sectionInit{
        display: flex;
        position: relative;
        flex-direction: column;
    }
    
    .contImg{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .inmgPerfil img{
        width: 40px;
    }

    .menuHiperCube img{
        width: 30px;
        margin-top: .5rem;
    }
}