.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-list {
  transition: 0.3s;
  position: absolute;
  top: 4rem;
  right: 1rem;
  visibility: hidden;
  list-style: none;
  border: 1px solid #ddd;
  margin-top: 4px;
  padding: 0;
  height: 25rem;
  width: 11rem;
  background: rgba(
    173,
    216,
    230,
    0.5
  ); /* Color de fondo celeste con transparencia */
  border-radius: 8px; /* Bordes redondeados para suavizar */
  padding: 10px; /* Espaciado interno */
  backdrop-filter: blur(
    5px
  ); /* Efecto de desenfoque para un aspecto de vidrio */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dropdown-list li {
  display: flex;
  padding: 1rem;
  cursor: pointer;
  margin: 1rem;
  border-radius: 1rem;
}

.dropdown-list li:hover {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-list {
  visibility: visible;
  display: flex;
}
