/* Estilo para la barra de navegación */
.header__nav {
  background: #f0f0f0;
  border-radius: 20px;
  box-shadow: -10px -10px 20px #d9d9d9, 10px 10px 20px #ffffff;
  transition: box-shadow 0.3s ease-in-out; /* Agregar transición a la sombra */
}

/* Estilo para la lista no ordenada */
.nav__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilo para los elementos de la lista */
.nav__item {
  padding: 10px;
  transition: background 0.3s ease-in-out; /* Agregar transición al fondo */
}

/* Estilo para los enlaces */
.nav__item a {
  text-decoration: none;
  color: #333;
}

/* Estilo al pasar el mouse sobre los elementos de la lista */
.nav__item:hover {
  background: #e0e0e0;
  border-radius: 10px;
}

@media screen and (max-width: 250px) {
  header {
    visibility: hidden;
    height: 1rem;
  }
}
