.sectionSobreMi {
  text-align: center;
  margin-top: 18rem;
  margin-bottom: 18rem;
}

.cont_text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 80%;
  margin: auto;
}
.imgH2NosConocemos {
  background-image: url("https://1.bp.blogspot.com/-D9Y4_GtO1_s/UkEBVf0z4QI/AAAAAAAA3dw/cpo9aIHiAAI/s1600/pergamino,banners,clipart,scrap,png,vintage+(9).png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
  max-width: 50%;
  height: 35rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cont_text h2 {
  color: rgb(89, 59, 20);
}

.imgPerfil {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30rem;
}

.btn_descargar button {
  background-color: #945c34d5; /* Color marrón similar a la madera */
  border: none; /* Sin borde */
  color: #fff; /* Texto en color blanco */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 18px; /* Tamaño de la fuente */
  border-radius: 8px; /* Esquinas redondeadas */
  cursor: pointer; /* Cursor al pasar el mouse */
  text-align: center; /* Centrar el texto */
  display: inline-block; /* Hacer que el botón se ajuste al contenido */
  text-decoration: none;
}

.btn_descargar button:hover {
  background-color: #6b371d;
  text-decoration: underline;
  transition: 0.5s;
}

/*HERRAMIENTAS*/
.herramientas {
  padding-top: 8rem;
  text-align: center;
  margin: auto;
}

.herramientas h3 {
  color: rgb(221, 188, 150);
  background: #634112; /* Cambia el fondo a un tono más claro */
  box-shadow: -5px 10px 10px #b18f7d, 5px 5px 10px #725e49; /* */
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: 1rem;
  display: inline-block;
  margin-bottom: 6.5rem;
}

.imgPerfil img {
  width: 150px;
}

.contenedor {
  margin: auto;
  display: flex;
  justify-content: space-between;
  box-shadow: -10px -10px 20px #9e9e9e96, 10px 10px 20px #ffffff;
  max-width: 600px;
}
.columna {
  padding: 1rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tarjeta {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.tarjeta img {
  max-width: 70px;
  height: 70px;
}

@media screen and (max-width: 250px) {
  .sectionSobreMi {
    box-sizing: border-box;
    text-align: center;
    /* max-width: 95%; */
  }
  .cont_text {
    margin: 0px;
  }
  .cont_text h2 {
    padding: 1rem;
    margin: 2rem 0;
  }

  .cont_text h2,
  .cont_text p {
    color: rgb(220, 220, 220);
    background: #f0f0f0; /* Cambia el fondo a un tono más claro */
    box-shadow: -5px -5px 10px #d9d9d9, 5px 5px 10px #ffffff; /* Agrega una sombra para el efecto de neumorfismo */
    /* max-width: 90%; */
    border-radius: 1rem;
    display: inline-block;
  }

  .cont_text p {
    padding: 0.5rem;
  }
  .last {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 700px) {
  .cont_text p {
    max-width: 50%;
  }
  .sectionSobreMi {
    text-align: center;
  }
  .cont_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
